.wrapper {
    display: grid;
    width: 1500px;

    grid-template-columns: 10fr 2fr;
    grid-template-rows: 100px 500px 100px;

    grid-template-areas: 
    "h h"
    "c s"
    "f f";
}

header {
    grid-area: h;
}

content {
    grid-area: c;
}

sidebar {
    grid-area: s;
}

footer {
    grid-area: f;
}